.form-wrapper {
    display: flex;
    justify-content: space-between;
    border: 1.45px solid #36363683;
    border-radius: .2rem;
    padding: 1rem;
    width: 380px;
    /*height: 20rem;*/
    height: 18rem;
    margin: 8rem auto 0 auto;
}

.form-wrapper h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-field {
    margin-bottom: 1rem;
    height: 4rem;
}

.form-field-error {
    color: rgba(255, 0, 0, 0.699);
    font-size: .75rem;
}

.form-input {
    width: 100%;
    height: 1.75rem;
    padding: 0 1.4px;
    margin-bottom: .2rem;
    border: 1.45px solid #36363683;
    border-radius: .12rem;
    transition: border 0.3s;
}

.form-field label {
    display: block;
    margin-bottom: .25rem;
}

.form-input-error {
    border: 1px solid rgba(255, 0, 0, 0.699);
}

.form-submit-button {
    height: 2.5rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: .12rem;
    border: none;
    background-color: #5e96ae;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.form-submit-button:hover {
    border: 1px solid #5e96ae;
    background: #FFF;
    color: #000
}