.jobs-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 258px);
    column-gap: 40px;
    row-gap: 33px;
    width: 852px;
    margin: 85px auto 0 auto;
}
.job-card {
    display: flex;
    flex-direction: column;
    height: 269px;
    cursor: pointer;
}

.job-card h4 {
    height: 23px;
    margin-bottom: -4px;
}

.job-card p span {
    font-size: 14px;
    color: var(--auxiliary-color);
}

.job-card > p {
    margin-bottom: 13px;
}

.job-subtitle {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--auxiliary-color);
}

/*
Inconsistent
[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    z-index: 999;
    background: var(--auxiliary-color);
    color: #fff;
    top: 16px;
    font-size: 14px;
    white-space: nowrap;
}
*/

.job-date {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 14px;
    color: var(--auxiliary-color);
}

.job-description {
    height: 171px;
    line-height: 19px;
    margin-bottom: -6px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.job-cta {
    align-self: flex-end;
    width: 64px;
    background-color: #fff;
    border: none;
    border-bottom: 4.5px solid var(--brand-color);
    line-height: 13px;
    transition: width 0.5s;
}

.job-card:hover .job-cta {
    width: 74px;
}
