.user-jobs-wrapper {
    width: 851px;
    height: 100%;
    margin: 0 auto;
}

.user-jobs-wrapper h1 {
    margin-top: 85px;
    margin-bottom: 48px;
}

.user-jobs {
    display: grid;
    grid-template-columns: repeat(4, 258px);
}
