.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0px 14px 0px;
    padding: 4px;
    border-bottom: .5px solid rgb(185, 185, 185);
    box-shadow: rgba(0, 0, 0, 0.15) 0px .5px 2px;
    background: #FFF;
}

.header h1 {
    font-size: 2rem;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.buttons button{
    height: 30px;
    padding: 3px;
}