.sidebar {
    /*width: 25%;*/
    width: 407px;
    border-right: 2.5px solid var(--brand-color);
}

.sidebar-content-wrapper {
    width: 317px;
    margin: 85px auto 0 auto;
}

.sidebar-cta {
    width: 100%;
    height: 37px;
    border: 1px solid var(--auxiliary-color);
    border-radius: 7px;
    background-color: var(--brand-color);
    font-weight: bold;
}

.sidebar-group {
    margin-bottom: 42px;
}

.sidebar-content-wrapper > .sidebar-group:last-of-type {
    margin-bottom: 30px;
}

.sidebar-group:not(:first-child) h4 {
    margin-bottom: 8px;
}

#primary-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
